h1{
    color: rgb(14, 21, 26);
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4em;
}
h2{
    text-align: center;
    color: rgb(7, 9, 10);
    font-size: 2em;
    font-family: Verdana, sans-serif;
}

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(13, 15, 7);
    font-size: 2em
}
p{
    text-align: justify;
    color: #141414;
    /* font-size:large ; */
    font-family: 'Montserrat regular'
}
body{
    background-color: #F3F9D2;
    /* cursor: url('./flecha.png'), auto; */
}
div{
    margin: auto;
    background-color: #6b704b;
    padding: 10px 10px 10px 10px;
    /* border: 2px solid black; */
    margin: 10px 10px 10px 10px;
}
.main-content {
    margin: auto;
    padding: 10px 10px 10px 10px;
    background-color: #6b704b;
    width: 50%;
    height: 50%;
    overflow: hidden;
}
.links{
    color: #1b1b17;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    }

#u-list {
    list-style-type:square;
    text-decoration: wavy;
}
img:hover {
    border-radius: 15%;    
}
